<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
        <span class="text-white"><a href="https://hampton.pw" class="text-white">Made with ❤ by Hampton
                Moore</a> | &copy;
            <script>new Date().getFullYear() > 2010 && document.write(new Date().getFullYear());</script>, Hampton
            Moore</span>
    </div>
</footer>