<form method="post">
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" id="exampleInputName" value="{{user.name}}" disabled>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.email}}" disabled>
    </div>
    <div class="form-group">
        <select id="cboSchools" name="schoolid" class="combobox form-control" required>
            <option value="55132">Rota High School</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>