<form method="post">
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" id="exampleInputName" value="{{user.name}}" disabled>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{user.email}}" disabled>
    </div>
    <div class="form-group">
        <select id="cboSchools" name="schoolid" class="combobox form-control" required>
            <option value="">Please Select A School</option>
            <option value="14021">AFNORTH Elementary</option>
            <option value="14012">AFNORTH Middle/High School</option>
            <option value="81472">Albritton Middle School</option>
            <option value="16411">Alconbury Elementary School</option>
            <option value="16212">Alconbury Middle/High School</option>
            <option value="76221">Amelia Earhart Intermediate School</option>
            <option value="86011">Andersen Elementary School</option>
            <option value="86042">Andersen Middle School</option>
            <option value="81151">Andre Lucas Elementary School</option>
            <option value="56012">Ankara Elementary/High School</option>
            <option value="44421">Ansbach Elementary School</option>
            <option value="44022">Ansbach High School</option>
            <option value="84501">Antilles Elementary School</option>
            <option value="84522">Antilles High School</option>
            <option value="84512">Antilles Middle School</option>
            <option value="24421">Aukamm Elementary School</option>
            <option value="56491">Aviano Elementary School</option>
            <option value="56032">Aviano High School</option>
            <option value="55032">Bahrain Middle/High School</option>
            <option value="44511">Bamberg Elementary School</option>
            <option value="44052">Bamberg High School</option>
            <option value="81161">Barkley Elementary School</option>
            <option value="35521">Barsanti Elementary School</option>
            <option value="24052">Baumholder High School</option>
            <option value="76471">Bechtel Elementary School</option>
            <option value="26302">Bitburg Middle School</option>
            <option value="85311">Bitz Intermediate School</option>
            <option value="36302">Boeblingen Elementary/Middle School</option>
            <option value="81411">Bowley Elementary School</option>
            <option value="85342">Brewster Middle School</option>
            <option value="14032">Brussels Elementary/High School</option>
            <option value="86022">CDR McCool Elementary/Middle School</option>
            <option value="81591">Charles Cotesworth Pinckney Elementary</option>
            <option value="81622">Charles F. Bolden Middle School</option>
            <option value="81541">Charles P Murray Elementary School</option>
            <option value="85661">Crossroads Elementary School</option>
            <option value="16051">Croughton Elementary School</option>
            <option value="64082">Daegu American Elementary School</option>
            <option value="64102">Daegu Middle/High School</option>
            <option value="84622">Dahlgren School</option>
            <option value="85351">DeLalio Elementary School</option>
            <option value="81491">Devers Elementary School</option>
            <option value="81131">Diamond Elementary School</option>
            <option value="11372">DoDEA Virtual School</option>
            <option value="81102">Don C. Faith Middle School</option>
            <option value="81081">Edward A. White Elementary School</option>
            <option value="65002">Ernest J. King High School</option>
            <option value="16541">Feltwell Elementary School</option>
            <option value="81222">Fort Campbell High School</option>
            <option value="81232">Fort Knox High School</option>
            <option value="81031">Fort Rucker Elementary School</option>
            <option value="81021">Fort Rucker Primary School</option>
            <option value="81071">Freddie Stowers Elementary School</option>
            <option value="44612">Garmisch Elementary/Middle School</option>
            <option value="24401">Geilenkirchen Elementary School</option>
            <option value="81501">Gordon Elementary School</option>
            <option value="44631">Grafenwoehr Elementary School</option>
            <option value="86032">Guam High School</option>
            <option value="24741">Hainerberg Elementary School</option>
            <option value="34032">Heidelberg High School</option>
            <option value="34312">Heidelberg Middle School</option>
            <option value="81091">Herbert J. Dexter Elementary School</option>
            <option value="85401">Heroes Elementary School</option>
            <option value="44691">Hohenfels Elementary School</option>
            <option value="44032">Hohenfels High School</option>
            <option value="66561">Humphreys Central Elementary School</option>
            <option value="66492">Humphreys High School</option>
            <option value="66572">Humphreys Middle School</option>
            <option value="66582">Humphreys West Elementary School</option>
            <option value="65501">Ikego Elementary School</option>
            <option value="81481">Irwin Intermediate School</option>
            <option value="65531">Iwakuni Elementary School</option>
            <option value="65522">Iwakuni Middle School</option>
            <option value="65471">Jack N. Darby Elementary School</option>
            <option value="66511">Joan Mendel Elementary School</option>
            <option value="64461">John O. Arnn Elementary School</option>
            <option value="85301">Johnson Primary School</option>
            <option value="76421">Kadena Elementary School</option>
            <option value="76022">Kadena High School</option>
            <option value="76212">Kadena Middle School</option>
            <option value="36471">Kaiserslautern Elementary School</option>
            <option value="36072">Kaiserslautern High School</option>
            <option value="36212">Kaiserslautern Middle School</option>
            <option value="76441">Killin Elementary School</option>
            <option value="81471">Kimberly Hampton Elementary School</option>
            <option value="81391">Kingsolver Elementary School</option>
            <option value="74431">Kinser Elementary School</option>
            <option value="16591">Kleine Brogel Elementary School</option>
            <option value="74012">Kubasaki High School</option>
            <option value="16012">Lakenheath High School</option>
            <option value="16252">Lakenheath Middle School</option>
            <option value="36492">Landstuhl Elementary/Middle School</option>
            <option value="85332">Lejeune High School</option>
            <option value="76232">Lester Middle School</option>
            <option value="16641">Liberty Intermediate School</option>
            <option value="54082">Livorno Elementary School</option>
            <option value="81212">Mahaffey Middle School</option>
            <option value="34691">Mannheim Elementary School</option>
            <option value="81191">Marshall Elementary School</option>
            <option value="65451">Matthew C. Perry Elementary School</option>
            <option value="65032">Matthew C. Perry High School</option>
            <option value="82042">Maxwell AFB Elementary/Middle School</option>
            <option value="81441">McNair Elementary School</option>
            <option value="85681">Middleton S. Elliott Elementary School</option>
            <option value="81551">Mildred B Poole Elementary School</option>
            <option value="81051">Morris R. McBride Elementary School</option>
            <option value="81451">Murray Primary School</option>
            <option value="55491">Naples Elementary School</option>
            <option value="55092">Naples High School</option>
            <option value="44641">Netzaberg Elementary School</option>
            <option value="46302">Netzaberg Middle School</option>
            <option value="65012">Nile C. Kinnick High School</option>
            <option value="66531">Osan American Elementary School</option>
            <option value="66072">Osan Middle/High School</option>
            <option value="44921">Patch Elementary School</option>
            <option value="44082">Patch High School</option>
            <option value="44932">Patch Middle</option>
            <option value="34511">Patrick Henry Elementary School</option>
            <option value="81141">Patrick L Kessler Elementary School</option>
            <option value="81571">Pierce Terrace Elementary School</option>
            <option value="85672">Quantico Middle/High School</option>
            <option value="84552">Ramey School</option>
            <option value="36511">Ramstein Elementary School</option>
            <option value="36052">Ramstein High School</option>
            <option value="36521">Ramstein Intermediate School</option>
            <option value="36252">Ramstein Middle School</option>
            <option value="66022">Robert D. Edgren High School</option>
            <option value="44381">Robinson Barracks Elementary</option>
            <option value="34302">Robinson Barracks Elementary/Middle School</option>
            <option value="55531">Rota Elementary School</option>
            <option value="55132">Rota High School</option>
            <option value="76242">Ryukyu Middle School</option>
            <option value="14491">SHAPE Elementary School</option>
            <option value="14052">SHAPE High School</option>
            <option value="65401">Sasebo Elementary School</option>
            <option value="44272">Schweinfurt Elementary/Middle School</option>
            <option value="44182">Schweinfurt High School</option>
            <option value="81312">Scott Middle School</option>
            <option value="36561">Sembach Elementary School</option>
            <option value="36272">Sembach Middle School</option>
            <option value="64471">Seoul American Elementary School</option>
            <option value="64052">Seoul American Middle/High School</option>
            <option value="56811">Sevilla Elementary/Middle School</option>
            <option value="14092">Shape Middle School</option>
            <option value="65441">Shirley Lanham Elementary School</option>
            <option value="85361">Shughart Elementary School</option>
            <option value="81382">Shughart Middle School</option>
            <option value="55551">Sigonella Elementary School</option>
            <option value="55152">Sigonella Middle/High School</option>
            <option value="24491">Smith Elementary School</option>
            <option value="66481">Sollars Elementary School</option>
            <option value="26621">Spangdahlem Elementary School</option>
            <option value="26512">Spangdahlem High School</option>
            <option value="26502">Spangdahlem Middle School</option>
            <option value="76431">Stearley Heights Elementary School</option>
            <option value="36031">Stuttgart Elementary</option>
            <option value="440822">Stuttgart High School</option>
            <option value="65491">Sullivans Elementary School</option>
            <option value="85391">Tarawa Terrace Elementary School</option>
            <option value="81261">Van Voorhis Elementary School</option>
            <option value="54671">Vicenza Elementary School</option>
            <option value="54192">Vicenza High School</option>
            <option value="54202">Vicenza Middle School</option>
            <option value="44101">Vilseck Elementary School</option>
            <option value="44392">Vilseck High School</option>
            <option value="36461">Vogelweh Elementary School</option>
            <option value="95052">W T Sampson Elementary/High School</option>
            <option value="81321">West Point Elementary School</option>
            <option value="81332">West Point Middle School</option>
            <option value="241222">Wiesbaden High School</option>
            <option value="24332">Wiesbaden Middle School</option>
            <option value="65512">Yokosuka Middle School</option>
            <option value="66062">Yokota High School</option>
            <option value="66552">Yokota Middle School</option>
            <option value="66521">Yokota West Elementary School</option>
            <option value="64072">Zama Middle/High School</option>
            <option value="74451">Zukeran Elementary School</option>

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>